<tr class="fixture">
  <td class="match-time">{{ match_time }}</td>
  <td class="home-team">{{ match_localteam_name }}</td>
  <td class="home-score">{{ match_localteam_score }}</td>
  <td class="away-score">{{ match_visitorteam_score }}</td>
  <td class="away-team">{{ match_visitorteam_name }}</td>
</tr>