<div class="cover frontpage">
  <div class="header">
    {{meta.category}}
  </div>

  <img src="/images/logo.png" alt="" class="cover-logo">

  <div class="cover-body">
    <h1 class="cover-title">{{meta.school}}</h1>
    <h2 class="cover-title">{{meta.student}}</h2>
    <h3 class="cover-title">{{meta.year}}</h3>
  </div>

  <img src="/images/drop-script-images-here/cover.jpg" alt="" class="cover-image">

  <div class="footer">
    <div class="left">{{meta.enquiries}}</div>
    <div class="right">{{meta.email}}</div>
  </div>
</div>
